<ng-content></ng-content>
<div class="container well">
    <input type="text" #childCtrl (keyup)="onkeyup(childCtrl.value)"> 
</div>
<h1>User Component loaded </h1>
<h2> First Name:{{firstName}}</h2>

<ul class="list-unstyled">
    <div class="container">
    <li class="well">
        <div class="col-sm-2 co-m-2">
        <img [src]="user.image" alt="">
        <br>
        <button class="btm btn-info btn-sm"
        (click)="moreInfo(user)">More Info></button>
        </div>
        <div class ="col-sm-8 col-md-8">
            <h1>{{user.firstName}} {{user.lastName}} </h1>
            <p>Date of Birth: 
                <span [innerHTML]="user.dob"></span>
            </p>
            <p>Income : {{user.income}} </p>
            <em class ="pull-right">
                Total Vote : {{user.vote}}
                <!-- <input type="number" [value]="user.vote" (change)="user.vote"=$event.target.value" class="form-control">  -->
                <input type="number" [(ngModel)]="user.vote" class="form-control">
            </em>
        </div>
        </li>
       
    </div>  
</ul>
